In [165]:
import pandas as pd

import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', None)

In [166]:
df=pd.read_excel("Book2.xlsx")
# df=pd.read_excel("Book3.xlsx")

In [167]:
df.head()

      part no             part name  Part Cost Mar 25  New Part Cost May 25
0  1110109570    HEAD S/A, CYLINDER           2035440          2.080925e+06
1  1110109580    HEAD S/A, CYLINDER           2081505          2.278882e+06
2  111010C100  HEAD S/A CYLINDER              2892145          2.881477e+06
3  111010C110  HEAD S/A CYLINDER              2350523          2.341853e+06
4  111010C120    HEAD S/A, CYLINDER           3900920          4.054359e+06

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787 entries, 0 to 786
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   part no               787 non-null    object
 1   part name             787 non-null    object
 2   Part Cost Mar 25      787 non-null    int64
 3   New Part Cost May 25  787 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 24.7+ KB

In [169]:
df["New Part Cost May 25"] = round(df["New Part Cost May 25"],0)

In [170]:
df.head()

      part no             part name  Part Cost Mar 25  New Part Cost May 25
0  1110109570    HEAD S/A, CYLINDER           2035440             2080925.0
1  1110109580    HEAD S/A, CYLINDER           2081505             2278882.0
2  111010C100  HEAD S/A CYLINDER              2892145             2881477.0
3  111010C110  HEAD S/A CYLINDER              2350523             2341853.0
4  111010C120    HEAD S/A, CYLINDER           3900920             4054359.0

In [171]:
df["New Part Cost May 25"]=df["New Part Cost May 25"].astype(int)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787 entries, 0 to 786
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   part no               787 non-null    object
 1   part name             787 non-null    object
 2   Part Cost Mar 25      787 non-null    int64
 3   New Part Cost May 25  787 non-null    int64
dtypes: int64(2), object(2)
memory usage: 24.7+ KB

In [173]:
df["Gap"]=(df["New Part Cost May 25"]-df["Part Cost Mar 25"])/df["Part Cost Mar 25"]*100

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787 entries, 0 to 786
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   part no               787 non-null    object
 1   part name             787 non-null    object
 2   Part Cost Mar 25      787 non-null    int64
 3   New Part Cost May 25  787 non-null    int64
 4   Gap                   787 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 30.9+ KB

In [175]:
df.head()

,part no,part name,Part Cost Mar 25,New Part Cost May 25,Gap
0,1110109570,"HEAD S/A, CYLINDER",2035440,2080925,2.234652
1,1110109580,"HEAD S/A, CYLINDER",2081505,2278882,9.482418
2,111010C100,HEAD S/A CYLINDER,2892145,2881477,-0.368861
3,111010C110,HEAD S/A CYLINDER,2350523,2341853,-0.368854
4,111010C120,"HEAD S/A, CYLINDER",3900920,4054359,3.933405

In [176]:
bounderies=5.11

data=df[df["Gap"]<-bounderies]

In [177]:
data.head(100)

Empty DataFrame
Columns: [part no, part name, Part Cost Mar 25, New Part Cost May 25, Gap]
Index: []

In [178]:
status=[]
for index, row in df.iterrows():
    if row["Gap"]>bounderies:
        status.append(f"Abnormal Above {bounderies}%")
    elif row["Gap"]<-bounderies:
        status.append(f"Abnormal Below -{bounderies}%")
    else:
        status.append("Normal")

In [179]:
df["Status"]=status

In [180]:
df.head()

,part no,part name,Part Cost Mar 25,New Part Cost May 25,Gap,Status
0,1110109570,"HEAD S/A, CYLINDER",2035440,2080925,2.234652,Normal
1,1110109580,"HEAD S/A, CYLINDER",2081505,2278882,9.482418,Abnormal Above 5.11%
2,111010C100,HEAD S/A CYLINDER,2892145,2881477,-0.368861,Normal
3,111010C110,HEAD S/A CYLINDER,2350523,2341853,-0.368854,Normal
4,111010C120,"HEAD S/A, CYLINDER",3900920,4054359,3.933405,Normal

In [181]:
import utils.pdf.chart as uc

image_bytes=uc.single_pie_chart(df,boundaries=5.11,column_status="Status", title="In House Service Part",height=500,width=500,legend_param=True)

with open('pie_chart.png', 'wb') as f:
    f.write(image_bytes.getvalue())

In [182]:
df.to_excel("in_house_service_part.xlsx",index=False)

In [183]:
num= len(df[df["Status"] == f"Abnormal Above {bounderies}%"])
t=len(df[df["Status"] == f"Abnormal Below -{bounderies}%"])

In [184]:
print(num)

111